---
title: Pricing
heading: Ways to Get a Board
description: "The Short Answer: Wait or Pay Up."
faq:
  - question: Well that's rude, what do you mean?
    answer: > 
      Production boards aren't done yet, but you can sing up for the <a href="/waitlist">waitlist</a>. 
      Alternatively, I'm <a href="/auction">auctioning</a> the 1st <i>ever</i> board to raise mutual aid funds, and you can bid on that if you want one before anyone else.
  - question: I didn't win the auction and I want a board <b>now</b>.
    answer: >
     In addition to the auction board, there are a handful of other ready-to-go boards that came with the prototype batch. If you're interested in buying one, reach out to
     <a href="mailto:orders@dctransistor.com">orders@dctransistor.com</a> and we can discuss a sale price (it will not be lower than $150). 
  - question: When will production boards be ready?
    answer: >
      I'm still making adjustments from the prototype batch, but I aim to start taking orders in late August or September start shipping them out sometime in September.
      <p></p>

  - question: How much will they cost?
    answer: >
      Price is still being finalized, but likely in the $60-$100 range.
---

{% if page.faq %}
	<h3>Longer Answers</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}

<style>
  h3 {
    text-align: center;
  }
</style>