---
title: Pricing
heading: Pre-Order Now. Available for regular oders late March.
description: "The Short Answer: I'm working on it"
faq:
  - question: When will production boards be ready?
    answer: >
      I'm still making adjustments from the prototype batch, which is taking much longer than anticipated due to life events getting in the way. 
      I plan on finishing up the new board design in December, and ideally shipping in late December or January.

  - question: How much will they cost?
    answer: >
      Price is still being finalized, but likely in the $60-$100 range.
---

{% if page.faq %}
	<h3>Longer Answers</h3>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}

<style>
  h3 {
    text-align: center;
  }
</style>