---
title: Blog
description: The story of the board, lessons learned, and detailed information on my process for anyone who wants to apply some or all of what I did
---

No blog posts yet! Once I have some more time, I plan on writing out the 9+ month story of how I made the boards, including design decisions, development setups and processes,
learning how to do graphic design and PCB schematics for the board, ordering my own custom PCB, and everything else along the way. Part of this will include cleaning up and better
describing the <a href="https://github.com/LArkema/dctransistor-project">source code</a>, which is a bit of a messy repository at this point. 

<div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
	<ul class="blog-posts">
		{% include list-posts.html posts=paginator.posts %}
	</ul>

	{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div>
